@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
    background-image: radial-gradient(#618794, #09536c);
    background-size: contain;
    font-family: Arial, "san serif";
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #ffffff;
}

div#content {
  padding-top: 15px;
  padding-left: 20px;
  height: 121vh;
  margin-top: 15px;
  margin-bottom: 50px;
}

#links {
  background-color: #618794;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #ffffff;
  border: solid 3px #ffffff;
  border-radius: 25px;
  z-index: 100;
}

h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    text-shadow: 3px 3px 5px #1f1e2d;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 65%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#photo img {
  float: right;
  width: auto;
  height: 500px;
  padding: 5px;
  object-fit: cover;
  box-shadow: 3px 3px 5px black;
  filter: contrast(1.25);
}

img:hover {
 transform: rotate(15deg);
 transition-duration: .5s;
}
