@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
    font-family: Arial, "san serif";
    background-color: lightgray;
    padding: 30px;
    font-size: 100%;
    color: white;
    background-image: url(../img/web.jpg);
}

div#content {
  background-color: #888787ad;
  padding: 45px;
  height: 110vh;
  border: solid 8px darkgray;
  margin: 2px;
}


h1, h2, h3 {
    font-family: 'Bowlby One SC', cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 270%;
}

.paragraph{
  color: white;
  font-size: 115%;
}

background-image{
  width: 1500px;
  filter: opacity(90%);
}
