@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
    background-color: #000000;
    background-size: cover;
    font-family: Arial, "san serif";
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #ffffff;
}

header {
  display: flex;
}

main {
  display: flex;
  padding-top: 35px;
  padding-left: 20px;
  background-color: #000000;
  height: 121vh;
  margin-top: 15px;
  margin-bottom: 50px;
}

aside {
  display: flex;
}

footer {
  display: flex;
}

h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 65%;
}

#links {
  background-color: #000000;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #ffffff;
  border: solid 3px #ffffff;
}

a#thumb {
  position: relative;
  width: 100px;
  height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
