@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
    background-color: #000000;
    background-size: cover;
    font-family: Arial, "san serif";
    padding: 18px;
    margin: 50px;
    font-size: 100%;
    color: #ffffff;
}

h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 65%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
  display:inline-block;
  float: right;
  width: 100%;
  height: 90px;
  padding: 10px;
  border: solid white 2px;
}

#links {
  float: right;
  background-color: #000000;
  display: inline-block;
  width: 25%;
  padding: 1px;
  color: #ffffff;
  border: solid 3px #ffffff;
}

aside {
  display: inline-block;
  float: right;
  width: 200px;
  height: 345px;
  margin-top: 220px;
  margin-left: 30px;
  padding: 5px;
  border: solid 3px #ffffff;
}

.thumb {
  display: inline-block;
  float: right;
  max-width: 100%;
  text-align: center;
}

.thumb img {
  max-width: 200px;
}

footer {
  display: flex;
  width: 100%;
  height: 75px;
  margin: 7px;
  border: solid 3px #ffffff;
  text-align: center;
}

footer p {
  width: 100%;
}

main {
  float: left;
  width: 70%;
  border: solid 3px #ffffff;
  margin: 20px;
  padding: 15px;
}
