@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
    background-color: #000000;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: inherit;
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #ffffff;
}

div#content {
  background-size: cover;
  height: 121vh;
}

h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

header {
  display: block;
  position: relative;
  width: 85%;
  font-size: 200%;
}

#links {
  border: solid 2px white;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #ffffff;
}

main {
  display: flex;
}

#subject {
  width: 45%;
  margin: 20px;
  padding: 15px;
  border: solid 2px white;
}

aside {
  position: relative;
  float: right;
  width: 275px;
  height: 200px;
  font-size: 135%;
  margin: 20px;
  padding: 15px;
  border: solid 2px white;
}

footer {
  border: solid 2px white;
}

footer p {
  width: 100%;
  text-align: center;
}
