
 @import url("https://use.typekit.net/oxu2zfz.css");

body {
    font-family: Arial, "san serif";
    background-color: #e9e5da;
    padding: 18px;
    font-size: 125%;
    color: #e9e5da;
}

div#content {
  padding: 35px;
  background-color: #1c2224;
  height: 120vh;
  border: solid 5px #ac9f84;
}


h1, h2, h3 {
    font-family: sabbath-black, serif;
    font-weight: 800;
    font-style: normal;
    font-family: amador, sans-serif;
    font-size: 175%;
    }

h1:hover {
  font-size: 300%;
}


img {
    float: right;
    width: 400px;
    height: auto;
    padding:35px;
}

.paragraph{
  color:#ac9f84;
  font-size: 85%;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

h1:hover {
  font-size: 260%;
}
