@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#main{
  font-family: arial, "sans-serif";
  color: darkgray;
  background-color: white;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  z-index: -100;
  padding: 0px;
  margin: 0px;
}

#nav  {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  position: absolute;
  height: 30px;
  padding: 30px;
  background-color: #white;
  position: sticky;
  top: 0;
  left: 0;
}

.cloud {
  top: 0;
  right: 50%;
}

h1 {
  font-size: 85%;
  word-spacing: 8px;
  text-decoration: none;
  color: lightgray;
}

h1: hover {
  text-decoration: underline;
  text-decoration-style: solid;
  color: black;
}

img {
  width: 100px;
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
}

div#center-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#center-box {
  position: relative;
  height: 400px;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title-box {
  font-family: 'Roboto', sans-serif;
  font-size: 900%;
  font-weight: 100;
  letter-spacing: -16px;
  text-decoration: none;
}


.h {
  color: #dec14f;
}

.e, .period{
  color: #eeb08a;
}

.l {
  color: #80ceba;
}

.o {
 color: #e26f61;
}

#text-box {
  position: absolute;
  display: block;
  text-align: center;
  width: 25%;
  height: 40px;
}

.button {
  background-color: white;
  border: solid 1px #b5b4b4;
  border-radius: 40px;
  padding: 5px;
  margin-right: 35px;
  top: 0;
  right: 0;
  float: right;
}

h2 {
 font-size: 55%;
}

#blue-box {
  background-color: #2ab2fe;
  color: white;
  text-align: center;
  border: solid 1px lightgray;
  border-radius: 40px;
  width: 90px;
  padding: 4px;
  margin: 3px;
  position: relative;
}

div#blue-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
