@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
    background-image: url(../img/web.png);
    background-color: #ebebeb;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: inherit;
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #000000;
}

div#content {
  background-size: cover;
  height: 121vh;
}


h1, h2, h3 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

h1:hover{
  font-size: 375%;
  transition-duration: 1s;
}

.summary{
  column-count:3;
}

.summary:hover {
  line-height: 1em;
  word-spacing: 1.5em;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes animation {
 from {left: 5%;}
 to {left: 80%;}
 transition: opacity 5s;
}

#animation img {
  width: 300px;
  height: auto;
  padding-top: 10px;
}

div#animation {
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#links {
  background-color: #000000;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #ffffff;
  border-radius: 7px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
