@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

body {
    background-color: #292626;
    font-family: Arial, "san serif";
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #ffffff;
}

div#content {
  padding: 35px;
  background-color: #617257;
  height: 110vh;
  border: solid 5px #976034;
  text-align: center;
}


h1, h2, h3 {
    font-family: 'Gideon Roman', cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 75%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
