@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    background-color: #030a14;
    font-family: cursive;
    padding: 8px;
    margin: 25px;
    font-size: 125%;
    color: #fbf8f4;
}

main#content {
  margin-top: 20px;
  padding: 25px;
  padding-left: 40px;
  background-color: #d88ea7;
  height: 1150px;
  width: 62%;
  border: solid 5px #efabc2;
}

h1, h2, h3 {
    font-family: 'Shrikhand', cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 275%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 75%;
}

#sidebar {
  font-family: cursive;
  display: inline-block;
  float: right;
  margin: 8px;
  padding: 3px;
  margin-bottom: 15px;
  width: 30%;
  min-width: 300px;
  background-color: #fbf8f4;
  color: #d88ea7;
}

#links {
  font-color: #617257;
  background-color: #fbf8f4;
  position: sticky;
  top: 0;
  padding: 1px;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-color: #fbf8f4;
}

img{
  width: 650px;
  left: 8px;
  bottom: 20px;
}
