@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-image: url(../img/stars.jpg);
    background-size: cover;
    font-family: Arial, "san serif";
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #cdcccb;
}

div#content {
  padding-top: 35px;
  background-color: #2a4266d4;
  height: 1000px;
  border: solid 5px #1c3377;
  margin-top: 15px;
}


h1, h2, h3 {
    font-family: 'Fredoka One', cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 75%;
}

#links {
  background-color: #cdcccb;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #1c3377;
  border: dashed 5px #1c3377;
}

#center-horz{
  text-align: center;
  width: 30%;
}

#center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: left;
}

img{
  width: 150px;
}

#center-both{
}

#floated{
  float: right;
  width: 30%;
}


a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
