@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-image: url(../img/stars.jpg);
    background-size: cover;
    font-family: Arial, "san serif";
    padding: 18px;
    margin: 50px;
    font-size: 125%;
    color: #cdcccb;
}

div#content {
  padding-top: 35px;
  background-color: #2a4266d4;
  height: 100vh;
  border: solid 5px #1c3377;
  margin-top: 15px;
  margin-bottom: 50px;
}


h1, h2, h3 {
    font-family: 'Fredoka One', cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 175%;
    letter-spacing: 3px;
    }

h1 {
  font-size: 300%;
  letter-spacing: 4px;
}

.paragraph{
  color:#ac9f84;
  font-size: 75%;
}

#links {
  background-color: #cdcccb;
  position: sticky;
  top: 0;
  padding: 1px;
  color: #1c3377;
  border: dashed 5px #1c3377;
}

.center-div{
  width: 30%;
  border: solid 3px black;
  height: 400px;
  border: solid 5px #1c3377;
  background-color: #2a4266d4;
  display: block;
  margin: 10px;
}

#floated{
  float: right;
  height: 120px;
}

#center-horz{
  text-align: center;
}

#center-img{
  text-align: center;
}

#center-both img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
  max-width: 100%;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
