@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

body {
    background-color: #000000;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: serif;
    padding: 18px;
    margin: 50px;
    font-size: 100%;
    color: #ecede2;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 100%;
  margin: 15px;
  border: solid 1px #ecede2;
  overflow: hidden;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Averia Serif Libre', cursive;
  color: #ecede2;
  padding: 7px;
}

h1 {
  font-size: 350%;
}

header {
   padding: 15px;
}

#text {
  position: relative;
  max-width: 65%;
  max-height: auto;
  margin: 10px;
  padding: 30px;
  border: solid 2px white;
}

.col-md-4 {
  padding: 7px;
}

.bg-light {
  position: sticky;
  color: green;
}

#picture {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 30%;
  min-width: 200px;
}

.bg-light {
    background-color: #ecede2!important;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-size: 140%;
    justify-content: space-between;
}

a:hover {
    color: #787878;
  }
