body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: black;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: black;
    border: solid 2px #333333;
    border-color: #fff
    height: 143vh;
}


h1, h2, h3 {
    font-family: "Courier New", monospace;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
